@use "sass:math";
@import "fonts.css";
@import "reset.css";
@import "_functions.scss";

body {
	font-size: toRem(18);
	font-family: "Inter", sans-serif;
	font-weight: 600;
	padding: toRem(50);
	background: url("..//img/pattern.jpg") fixed repeat;
}

.page {
	max-width: toRem(1200);
	width: 100%;
	margin: 0 auto;
}

.button {
	width: toRem(200);
	height: toRem(70);
	background-color: blue;
	color: yellow;
	font-size: toRem(24);
	text-align: center;
	font-weight: 700;
	border-radius: toRem(12);
	margin: toRem(50) 0;
	align-self: center;
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #0101c5;
		}
	}
}

.text p {
	&:not(:last-child) {
		padding-bottom: toRem(15);
	}
}
